/* App.css */

/* Styles for mainButtonStyleContainer */
.mainButtonStyleContainer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

/* Styles for buttonStyle */
/* Styles for buttonStyle */
.mapButton {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 85%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7); /* Corrected color value */
}


/* Styles for mainButtonStyle */
/* Styles for mainButtonStyle */
.mapMainButtonContainer {
  position: absolute;
  width: 100%;
  bottom: 10%;
  display: flex;
  justify-content: center;
}

.mapMainButton {
  width: 100px;
  height: 40px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}


/* Additional styles for mobile view */
.mobile-view {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Styles for map container */
.mapContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Styles for button inside map container */
.buttonLink {
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none; /* Optional: Remove underline from anchor */
}

