html, body {
  height: 100%;
  margin: 0;
}


.body {
  background-color: #ffcc8e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainButtonStyleContainer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}
.pin1 {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 50% 50% 50% 0;
  border: 4px solid #ff0000;
  background-color: #ff0000;
  width: 15px;
  height: 15px;
  box-shadow: 0 2px 5px #000;
}

.button {
  position: absolute;
  z-index: 1001;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 100px;
  text-align: center;
  line-height: 100px; /* Should be equal to the height for vertical centering */
  background-color: rgba(255, 255, 255, 0.674);
  mix-blend-mode: difference;
}
.button a {
  color: rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
}
/*
.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  padding: 10px 40px;
  border-radius: 5px;
  text-shadow: 0px 1px 0px #000;
  filter: drop-shadow(0px 1px 0px #000);
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*
.button a:active {
  top: 10px;
  background-color: #f78900;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  border-radius: 5px;
}
*/
/*mikilvægt*/
.mapMainButton {
  width: 100px;
  height: 40px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 1001;
}
/*mikilvægt*/
.mobile-view {
  height: 100vh;
  width: 100%;
  position: relative;
}
/*mikilvægt*/
.mapContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.buttonLink {
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  z-index:1001;
}



.parkmenu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 1005;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.674);
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.parkmenu h1 {
  text-align: center;
  margin-bottom: 20px;
}

.parkmenu div {
  margin-bottom: 10px;
}

.parkmenu a {
  text-decoration: none;
  color: #333;
}

