html {
  height: 100%;
  margin: 0;
  background-color: #616161;
}
.mainButtonStyleContainer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.pin1 {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 50% 50% 50% 0;
  border: 4px solid #ff0000;
  background-color: #ff0000;
  width: 15px;
  height: 15px;
  box-shadow: 0 2px 5px #000;
}

.mapMainButton {
  width: 100px;
  height: 40px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 1001;
}

/*mikilvægt*/

.mobile-view {
  height: 100vh;
  width: 100%;
  position: relative;
}

.mapContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.buttonLink {
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  z-index:1001;
}

/* Add the following styles to your App.css file */
/* ... Your existing styles ... */

.button {
  position: absolute;
  text-align: center;
  bottom: 4em;
  left: 50%;
  width:250px;
  height:auto;
  transform: translateX(-50%);
  background-color: #8a8a8a;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #000000;
  z-index: 1000; /* Set a z-index lower than the parkmenu */

}
.loginDesk {
  text-align: center;
  text-align: center;
  width:250px;
  margin: 5em 0 0 12em;
  height:auto;
  transform: translateX(-50%);
  background-color: #049b57;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #000000;
  

}
.buttonDesk {
  text-align: center;
  width:250px;
  margin: 5em 0 0 12em;
  height:auto;
  transform: translateX(-50%);
  background-color: #8a8a8a;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #000000;

}
.parkmenuDesk {
  text-align: center;
  width:250px;
  height:auto;
  margin: 5em 0 0 12em;
  transform: translateX(-50%);
  background-color: #8a8a8a;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.parkmenu {
  position: absolute;
  text-align: center;
  bottom: 4em; 
  left: 50%;
  width:250px;
  height:auto;
  transform: translateX(-50%);
  background-color: #8a8a8a;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* Set a higher z-index than the button */
}
.buttonDesk a,.parkmenuDesk a,.loginDesk a{
  color:white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
}
.button a,.parkmenu a{
  color:white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
}

.buttonDesk a:hover,.parkmenuDesk a:hover{
  color:rgb(255, 0, 0);
}
.button a:hover,.parkmenu a:hover{
  color:rgb(255, 0, 0);
}
.loginDesk a:hover{
  color: #616161;
}
.login-container {
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  transform: translateX(-50%);
  z-index: 1002;
}
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.cancel-btn {
  margin-top: 4px;
  background-color: #c1280d;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}


